.DS_Store
*.o
*.bundle
*.dSYM
*.dylib
*.app
*.a
pkg
glfw-src/examples/listmodes
glfw-src/examples/mtbench
glfw-src/examples/mthello
glfw-src/tests/defaults
glfw-src/tests/joysticks
glfw-src/tests/version